<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Cadastro</title>
	<link href="css/seu-stylesheet.css" rel="stylesheet"/>
	<script src="scripts/seu-script.js"></script>
</head>
<body>

	<h2>Cadastros</h2>
	<ul>
	{% for cadastro in cadastros %}
	<li>Nome: {{cadastro.nome}} | Altura: {{cadastro.altura}} | Data Nascimento: {{cadastro.dataNasc}} <a href="{% url 'url_update' cadastro.id %}">Editar</a> | <a href="{% url 'url_delete' cadastro.id %}">Deletar</a> </li>
	{% endfor %}
	</ul>

	<a href="{% url 'url_cadastrar' %}">Novo Cadastro</a> 

</body>
</html>
